<!DOCTYPE html>
{% extends 'html/base.html' %}

{% block title_block %}
<title>home</title>
{% endblock %}

{% block style_block %}
<style>
  .container {
    margin-top: 80px;
    font-size: larger;
    font-weight: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    color: goldenrod;
  }
  .jumbotron {
    background-color: white;
  }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello User welcome to the page.</h1>
        <hr class="my-4">
        <p>This web appliction is used for get update information about Programming Languages.</p>
        <p>So, please be patience to search for your requirments.</p>
        <h2>Happy Learning :)</h2>
      </div>
</div>
{% endblock %}