<!DOCTYPE html>
{% extends 'html/base1.html' %}

{% block title_block %}
<title>home</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Kyvor Genomics</h1>
    <p class="lead">This is one of the best company to become a Python Full stack developer role.</p>
    <hr class="my-4">
    <p>Here to see the user profiles.</p>
    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/app1/list" role="button">Click Here</a>
</div>
{% endblock %}

