<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Movies page</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">DURGA MOVIES</h1>
            <p>Upto date all information about the all languages movies</p>
            <a class="btn btn-primary btn-lg" href="./addmovie" role="button">Add Movies INFO</a>
            <a class="btn btn-primary btn-lg" href="./listmovie" role="button">List all Movies</a>
          </div>
    </div>
</body>
</html>