<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/listmovie.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>list movies</title>
</head>
<body>
    <div class="container">
        {% if movie_list %}
        <h1>Movies List</h1>
        <table id="line" >
            <thead>
                <th>Release Date</th>
                <th>Movie Name</th>
                <th>Hero Name</th>
                <th>Heroine Name</th>
                <th>Rating</th>
            </thead>
            {% for movie in movie_list %}
            <tr>
                <td>{{movie.rdate}}</td>
                <td>{{movie.moviename}}</td>
                <td>{{movie.hero}}</td>
                <td>{{movie.heroine}}</td>
                <td>{{movie.rating}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>Currently No movies are Available :(</h1>
        {% endif %}
    </div>
    
</body>
</html>