<!DOCTYPE html>
{% extends 'html/base.html' %}
{% block title_block %}
<title>home page</title>
{% endblock %}

{% block body_block %}
<h1>Employee Information DashBoard.</h1>
<table border="2">
    <thead>
        <th>Employee Number</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
        <th>Employee Address</th>
        <th>Actions</th>
    </thead>
    {% for x in emp_list %}
    <tr>
        <td>{{x.eno}}</td>
        <td>{{x.ename}}</td>
        <td>{{x.esal}}</td>
        <td>{{x.eaddr}}</td>
        <td><a href="/update/{{x.id}}" class="btn btn-primary">Update</a> &nbsp &nbsp &nbsp &nbsp 
            <a href="/del/{{x.id}}" class="btn btn-primary">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table><br>
<a href="/insert" class="btn btn-primary">Insert New Employee</a>
{% endblock %}