<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Date usage</title>
</head>
<body>
<h1>Employee list</h1>
{% if emp_list %}
<table border="1">
    <thead>
    <th>ENo</th>
    <th>ENAME</th>
    <th>ESALARY</th>
    <th>EADDRESS</th>
    </thead>
    {% for x in emp_list %}
         <tr>
             <td>{{x.eno}}</td>
             <td>{{x.ename}}</td>
             <td>{{x.esal}}</td>
             <td>{{x.eaddr}}</td>
         </tr>
    {% endfor %}
</table>
{% else %}
   <p>No Records Found!!!!</p>
{% endif %}
</body>
</html>