<!DOCTYPE html>
{% extends 'html/base.html' %}
{% block body_block %}
<div class="container">
    <h1>Python Exam</h1>
    <ul>
        <li>Features of python.</li>
        <li>list data structure.</li>
        <li>tuple data structure.</li>
        <li>set data structure.</li>
        <li>dictionary data structure.</li>
        <li>modules.</li>
        <li>Functons.</li>
        <li>classes.</li>
        <li>Exceptions in python.</li>
        <li>file handling.</li>
        <li>multi-threading.</li>
    </ul>
</div>
{% endblock %}

{% block title_block %}
<title>python exam</title>
{% endblock %}