<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django thing</title>
</head>
<body>
<h1>Hello Friend, {{Wish}}</h1>
<h2>Now the server time is : {{Time}}</h2><br>
<h1>Austrology Info: {{Message}}</h1>
<h2>Very soon, you are going to get marriage with <u>{{Name}}</u></h2>
</body>
</html>