table {
    background: aqua;
    margin: auto;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 10px;  
}
h1 {
    text-align: center;
}
title {
    color: brown;
}
html {
    background: fixed;
    background-color: aquamarine;
}
td {
    padding: 10px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: burlywood;
}
th {
    padding: 10px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: cadetblue;
}