<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    
    <title>Form page</title>
</head>
<body id="s1">
    <div class="container" align="center" >
        {% if set %}
           <h1>Hello {{name}} , Thank you for providing feedback, It is very helpfully for us to provide better service.</h1>
        {% else %}
           <h1>Student feedback form</h1>
           <form method="post">
                {{form.as_p}}
                {% csrf_token %}
               <button type="submit" class="btn btn-primary btn-lg" name="" value="">Submit FeedBack</button>
           </form>
        {% endif %}
    </div>
</body>
</html>