<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>list page</title>
</head>
<body>
    <div class="container">
        <h1>All Books Information</h1><hr>
        {% for book in books %}
        <ul>
            <li><a href="http://127.0.0.1:8000/home/{{book.id}}">{{book.title}}</a></li>
        </ul>
        {% endfor %}
        <a class="btn btn-primary" href="http://127.0.0.1:8000/home/create">Insert New Record</a>
    </div>
</body>
</html>