<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document1</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
<h1>Welcome to DURGASOFT NEWS PORTAL</h1>
<img src="{% static 'images/11.jpg' %}" alt="">
<ul>
    <li><a href="/movies">Movies Information</a></li>
    <li><a href="/sports">Sports Information</a></li>
    <li><a href="/politics">Politics Information</a></li>
</ul>
</body>
</html>