<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document2</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
<h1>{{head_msg}}</h1>
<ul>
    <li>{{sub_msg1}}</li>
    <li>{{sub_msg2}}</li>
    <li>{{sub_msg3}}</li>
</ul>
</body>
</html>